#titleContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: #727576;
    color: #E5FCFF;
}

#title{
    font-size: 350%;
}

.center{
    justify-content: center;
}

#mainBody{
    background-color: #1A1F16;
    color: #E5FCFF;
}