#titleContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: #071E22;
    color: #EFF2EF;
    flex-wrap: nowrap;
}

#title{
    font-size: 350%;
}

#byAlyka {
    margin-left: 10px;
    white-space: nowrap;
}

.center{
    display: flex;
    justify-content: center;
}

#mainBody{
    background-color: #727576;
    color: #EFF2EF;
}

#whatIs{
    font-size: 150%;
}