*{
    padding: 0px;
    margin: 0px;
}

#titleContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: #071E22;
    color: #EFF2EF;
    flex-wrap: nowrap;
}

#title{
    font-size: clamp(2rem, 8vw, 5rem);
}

#byAlyka{
    font-size: clamp(0.8rem, 3vw, 1rem);
    white-space: nowrap;
}

.center{
    display: flex;
    justify-content: center;
}

.bodyContent{
    padding-left: 3%;
    padding-right: 3%;
}

#mainBody{
    background-color: #727576;
    color: #EFF2EF;
}

#whatIs{
    font-size: 150%;
}