*{
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#titleContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 3px solid #232836;
    background-color: #232836;
    color: #c8a951;
    flex-wrap: nowrap;
    padding-bottom: 3px;
    flex: 0 0 auto;
}

#title{
    font-size: clamp(2rem, 8vw, 5rem);
}

#byAlyka{
    font-size: clamp(0.8rem, 3vw, 1rem);
    white-space: nowrap;
}

.center{
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

.bodyContent{
    padding-top: 3px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3px;
}

#mainBody{
    background-color: #0f1115;
    color: #e6e8ee;
    height: 100%;
    flex: 1 0 auto;
}

.title{
    font-size: 150%;
}

a{
    color: #4c79ff;
    text-decoration: none;
}

ul{
    list-style-position: outside;
    padding-left: 1.5em;
}

#buttonsForm{
    display: flex;
    padding-top: 25px;
    justify-content: center;
    gap: 10%
}

button {
    border-radius: 999px;
}