#titleContainer{
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 3px solid black;
    background-color: #727576;
    color: #451F55;
}

#title{
    font-size: 350%;
}